In [50]:
import os
import numpy as np
import pandas as pd
from pprint import pprint

def open_dataset(file_name):
    return pd.read_csv(filepath_or_buffer=file_name, delimiter="\t", encoding="utf-8", header=0)

df = open_dataset('data_sncf/timetables.csv')
df = df.sort_values(by=['trip_id', 'trajet', 'duree'], ascending=[True, True, True])

# refacto du dataframe
trajet_splited = df['trajet'].str.split(' - ')

df['start'] = trajet_splited.str[0]
df['end'] = trajet_splited.str[1]

df.drop('trajet', axis=1, inplace=True)

df

,trip_id,duree,start,end
0,OCESN003100F140147152,138,Gare de Le Havre,Gare de Paris-St-Lazare
1,OCESN003190F040047309,145,Gare de Dieppe,Gare de Paris-St-Lazare
2,OCESN003198F030037315,97,Gare de Paris-St-Lazare,Gare de Rouen-Rive-Droite
3,OCESN003300F030037323,194,Gare de Cherbourg,Gare de Paris-St-Lazare
4,OCESN003313F380387526,149,Gare de Caen,Gare de Paris-St-Lazare
...,...,...,...,...
1570,OCESN895822F0500552575,244,Gare de Belfort-Ville,Gare de Lyon-Perrache
1571,OCESN895830F0200252600,103,Gare de Lons-le-Saunier,Gare de Lyon-Perrache
1572,OCESN895880F0500552634,144,Gare de Belfort-Ville,Gare de Lons-le-Saunier
1573,OCESN895940F0200252654,89,Gare de Besançon-Viotte,Gare de Lons-le-Saunier
1574,OCESN895942F0900952655,81,Gare de Bourg-en-Bresse,Gare de Mouchard

In [32]:
test = df.loc[df['trip_id'] == "OCESN014033F0900915597"]
print(test)

                   trip_id  duree            start            end
19  OCESN014033F0900915597     72  Gare de Orléans  Gare de Tours

In [15]:
# def get_itinerary(start, end):
    # return tableau des villes avec leur durée de voyage